<section *ngIf="meterData == null" class="first-screen">
  <div class="container">
    <div class="row">
      <div class=" offset-md-6 col-md-6  offset-lg-7 col-lg-5">
        <div class="first-screen__card">
          <h1>Данные по электроэнергии</h1>
          <p>Чтобы посмотреть подробный отчет по электроэнергии подтвердите свои действия загрузив данные</p>
          <button (click)="getData()" class="btn-warning">Загрузить данные</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="energyData">
  <div class="container">
    <div [ngStyle]="{ display: meterData ? 'block' : 'none' }">
      <app-datepicker [meterData]="meterData"></app-datepicker>
      <div class="wrapper">
        <ul *ngIf="meterData" class="energyData__name">
          <li>Название счетчика: {{meterData.meterName | uppercase}}</li>
          <li>Название канала данных: {{meterData.channelName | uppercase}} </li>
        </ul>
        <div>
          <ul>
            Час когда было использовано максимум электричества
            <li>
              <div>
                {{getMaximumHour$ | async}}

              </div>
            </li>
            День когда было использовано минимум электричества
            <li>
              <div>
                {{getMinimumDay$ | async}}

              </div>
            </li>

            Среднечасовая использованная энергия
            <li>

              <div>
                {{calculateAvgHour$ | async}} Wh
              </div>

            </li>
          </ul>
        </div>
        <app-highcharts></app-highcharts>
        <app-piecharthighcharts></app-piecharthighcharts>
        <app-average-consumption-by-day-highcharts></app-average-consumption-by-day-highcharts>
      </div>
    </div>
  </div>
</section>


